footer
  .container.text-center
    p.float-left © 2020 Kwannumom, Ent. All Rights Reserved
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://drive.google.com/drive/folders/1Wag_3vBZjOnRE1YiRXxCAJOfC_2PeYQ_?usp=sharing') jasubin@hotmail.com
      
